# .ebextensions/fastapi.config
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/50start.sh":
    mode: "000755"
    content: |
      #!/usr/bin/env bash
      # Start FastAPI with Gunicorn and Uvicorn workers
      gunicorn --chdir /opt/python/current/app -w 4 -k uvicorn.workers.UvicornWorker app.main:create_app -b 0.0.0.0:8000


option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app.main:create_app
